.card{
	width: 50% !important;
	margin: 0 !important;
	display: inline-block;
}
a{
	display: initial;}

 
.col-lg-8{

	   margin: auto;
	}
.btn-link{
	 display: flex;
    justify-content: center;
    }a{
    font-family: 'Lemon', cursive;

}

h1{
	text-align: center;
	color: grey;
	font-family: 'Baloo Tammudu', cursive;

}
body,html{
	font-family: 'Baloo Tammudu', cursive;

}
.row {
justify-content: center;
}
.card-footer{
	margin-top: 1em !important;
}
